@page
@model InvidInterview.WebApp.Pages.Fibonacci

@{
    Layout = "Shared/_Layout";
}

<p style="font-family: Arial, sans-serif; color: #666; font-size: 16px;">Fibonacci sequence for length "@Model.Length" is:</p>
<p style="font-family: Arial, sans-serif; color: #666;font-size: 12px;">@Model.ResponseMessage</p>