@page
@model InvidInterview.WebApp.Pages.Index

@{
    Layout = "Shared/_Layout";
}

<p style="font-family: Arial, sans-serif; color: #666; font-size: 16px;">
    Here are the 3 exercise for coding. Hope you enjoy!
</p>


<a asp-page="/ExerciseB1">Exercise B1</a>
<br>
<a asp-page="/ExerciseB2">Exercise B2</a>
<br>
<a asp-page="/ExerciseB3">Exercise B3</a>