<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invid Interview - Nelson Rosa</title>
    <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
                background-color: #f0f0f0;
            }
            .centered-box {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 80%;
                padding: 20px;
                text-align: center;
                background-color: #ffffff;
                border-radius: 10px;
                margin: 0 auto;
            }
            .centered-box p {
                overflow-wrap: break-word;
                word-wrap: break-word;
             }
            .centered-box a {
                 color: #105378;
                 text-decoration: none;
                 margin: 10px 0;
                 display: inline-block;
            }
            .centered-box a:hover {
                 color: #0d425f;
            }
            @@media (min-width: 768px) {
                .centered-box {
                    width: 50%;
                }
            }
            @@media (min-width: 1200px) {
                .centered-box {
                    width: 40%;
                }
            }
        </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="centered-box">
    <h1 style="font-family: Arial, sans-serif; color: #333;">HI INVID!</h1>
    @RenderBody()
</div>

</body>
</html>